# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Chris Meyer
#	email = chris@christopher-meyer.me
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[user]
	name = sojournerc
  email = cmeyer@zvelo.com
[diff]
    tool = vimdiff
[difftool]
  prompt = false
[mergetool]
	keepBackup = false
[merge]
	tool = vimdiff
